@import "~bootstrap/scss/bootstrap";



.card{


    img{
        height: 250px;
        object-fit: cover;
    }
}

  .ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace; font-weight: 400;
    font-style: normal; letter-spacing: auto;
  }
    
  .ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace; font-weight: 500;
    font-style: normal;
  }
  .ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace; font-weight: 700;
    font-style: normal;
  }
  .ibm-plex-mono-bold-white {
    font-family: "IBM Plex Mono", monospace; font-weight: 700;
    font-style: normal;
    color: white;
  }
  .my-title{
    font-family: "neplus", serif; font-weight: 900; font-style: normal; font-size: 50px;
  }
  .title-white{
    font-family: "neplus", serif; font-weight: 900; font-style: normal; font-size: 50px;
    color: white;
  }

  .logo{
    width: 250px;
  }

  .logo-nav{
    width: 200px;
  }

.button-menu {
  background-color: #2f2f2f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.button-menu:hover {
    background-color: #fac200;
    border: #2f2f2f solid 1px;
}

.button-menu-y{
  background-color: #fac200;
  color:#2f2f2f;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.button-menu-y:hover {
  background-color: #2f2f2f;
  color: white;
}

.button-delete{
  background-color: red;
  color:#2f2f2f;
  padding: 5px;
  border: none;
  border-radius:5px;
}

.navbar{
    height: 80px;
}